.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1920px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: Arial, sans-serif;
  }

.header {
    margin: 0;
    height: 90px;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__title {
    margin: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 95px;
}

.header__title_view_basic{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.header__title_view_colored {
    margin: 0;
    padding: 3px;
    background-color: #4A90E2;
    border-radius: 3px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

.header__navigation {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    width: 368px;
    display: flex;
    justify-content: space-between;
}

.header__navigation_link {
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;
}

.header__button {
    margin: 0;
    background-color: #000000;
}

.header__button_search_icon {
    width: 16px;
    height: 17px;
}

.content {
    display: flex;
    justify-content: center;
}

.articles_shortcuts {
    margin: 30px 0;
    height: 560px;
    color: white;
}

.shortcut_1 {
    position: relative;
    width: 370px;
    height: 560px;
    background-image: url(../images/Image_1.jpg);
}

.shortcut__text {
    margin: 0;
    position: absolute;
    left: 12px;
    bottom: 23px;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    width: 360px;
    height: 72px;
}